/* NOVO */

.title {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;  
    font-family: arial;  
}

.form-group{
    width: 50%;
    margin: 20px auto;
}

.button{
    margin: 25px auto;
    width: 50%;
}
.new_item{
    margin: 30px auto;  
}
.new_item a{
    text-decoration: underline;
    font-family: 'FiraSansRegular';
    font-size: 18px;
    color: #000000;
}
.btn_voltar{
    margin: 30px auto;
}
.btn_voltar a{
    text-decoration: underline;
    font-family: 'FiraSansRegular';
    font-size: 18px;
    color: red;
}
body{   
    background-image: url("img/fundo.jpg");
}

td{ 
    text-align: center;
    font-size: 12px;
}

th{
    font-family: 'Arial', 'Helvetica', 'sans-serif';

}